<!DOCTYPE html>
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!--<form th:action="@{save}" th:object="${lab}" method="post">-->
<!--    <input type="text" th:field="*{testname}"> <br>-->
<!--    <input type="text" th:field="*{checkbox}">-->

<!--</form>-->

<table>
    <tr>
        <th>id</th>
        <th>testname</th>
        <th>checkbox</th>
    </tr>
    <tr th:each="lab : ${listoftest}">
        <div th:if="${lab.checkbox}?true:false">
            <td th:text="${lab.id}"></td>
            <td th:text="${lab.testname}"></td>
            <td th:text="${lab.checkbox}"></td>
        </div>

    </tr>
</table>

<!--<div>-->
<!--    <table>-->
<!--        <tr>-->
<!--            <th>id</th>-->
<!--            <th>testname</th>-->
<!--            <th>checkbox</th>-->
<!--        </tr>-->
<!--        <tr th:each="lab : ${listoftest}">-->
<!--            -->
<!--                <td th:text="${lab.id}"></td>-->
<!--                <td th:text="${lab.testname}"></td>-->
<!--                <td th:text="${lab.checkbox}"></td>-->
<!--            -->

<!--        </tr>-->
<!--    </table>-->
<!--</div>-->

<div>

        <div id="abc" th:each="lab : ${listoftest}">
            <div >
                <span th:if="${lab.checkbox}?true:false">

                    <span th:if="${lab.testname}=='a'">a</span> </span>
                </div>

            <div >
                <span th:if="${lab.checkbox}?true:false">

                    <span th:if="${lab.testname}=='b'">b</span> </span>
            </div>

            <div >
                <span th:if="${lab.checkbox}?true:false">

                    <span th:if="${lab.testname}=='c'">c</span> </span>
            </div>

            <div >
                <span th:if="${lab.checkbox}?true:false">

                    <span th:if="${lab.testname}=='d'">d</span> </span>
            </div>
            <div >
                <span th:if="${lab.checkbox}?true:false">

                    <span th:if="${lab.testname}=='e'">e</span> </span>
            </div>
<!--            <td >-->
<!--                <span th:if="${lab.checkbox}==true">b</span>-->
<!--            </td>-->
<!--            <td >-->
<!--                <span th:if="${lab.checkbox}==true">c</span>-->
<!--            </td>-->
<!--            <td >-->
<!--                <span th:if="${lab.checkbox}==true">d</span>-->
<!--            </td>-->
<!--            <td >-->
<!--                <span th:if="${lab.checkbox}==true">e</span>-->
<!--            </td>-->
<!--            <td>b</td>-->
<!--            <td>c</td>-->
<!--            <td th:text="${lab.checkbox}?'true':'false'">d</td>-->
<!--            <td>e</td>-->
        </div>
</div>
</div>
<!--<script>-->
<!--    let a=document.getElementById('abc').innerText;-->
<!--    console.log(a);-->
<!--</script>-->
</body>
</html>